.p-home{
    /* background-color: rgb(121, 228, 121); */
    background-image: linear-gradient(to right, rgb(241, 160, 160) , rgb(163, 97, 224));
    width: 1000px;
    height: 300px;
    text-align: center;
    margin: auto;
}

.p-home-head{

    font-size: 40px;
    font-weight: bold;
}
.p-home-links{
    font-size: 40px;
    font-weight: bold;
    color: rgb(131, 11, 115);
}